.DS_Store
server/private/*
node_modules
client/private/*
client/dist
client/elm-stuff
server/public/**/*
.fusebox
.vscode
public/uploads/
not_uploaded/
imported_data/
elm-stuff/
public/img/letter/*.png
public/js/*.js