/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400&subset=japanese'); */

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
}

.container {}

div#footer_wrapper {
    height: 60px;
    padding-top: 10px;
    background: white;
}

div#footer {
    margin-left: 40px;
}

@media (prefers-color-scheme: dark) {
    div#footer_wrapper {
        background: black;
    }

    div#footer input {
        background: #222;
        color: #ccc;
    }
}

#menu-left {
    // position: fixed;
    // top: 10px;
    // left: 10px;
    // width: 120px;
    // height: 100%;    background: rgb(140, 142, 196);
}

#chat-wrapper {
    position: fixed;
    overflow: auto;
}

#menu-left ul {
    cursor: pointer;

}

.current-room {
    font-weight: bold;
}

ul.menu-list {
    padding-left: 0px;
}

ul.menu-list li {
    list-style-type: none;
}