.activity-cell {
    cursor: pointer;
}

#matrix-wrapper {
    height: 250px;
    overflow: scroll;
    background: #ececec;
}

body    {overflow-y:scroll;}

svg {
    overflow: scroll;
    overflow-y: hidden;
}


img.chat_user_icon {
    width: 40px;
    height: 40px;
}


.selection-active .activity-cell:not(.active) {
    fill-opacity: 0.2;
}

.selection-active .activity-cell.active {
    fill-opacity: 1;
    stroke: black;
    stroke-width: 2px;
}