div.chat_user_name {
    font-weight: bold;
    font-size: 14px;
}


#chat-entries {
    overflow: auto;
}

div.chat_entry_comment {
    /* border: 1px solid blue; */
    padding: 5px;
    margin: 0px 5px;
}

div.chat_entry_comment:hover {
    background: #f8f8f8;
}

@media (prefers-color-scheme: dark) {

    div.chat_entry_comment:hover {
        background: #111;
    }
}

.remove-item {
    font-size: 20px;
    margin-right: 10px;
    float: right;
}

div.chat_entry_comment:not(:hover) .remove-item {
    visibility: hidden;
}

img.chat_user_icon {
    width: 40px;
    height: 40px;
}

.chat_timestamp {
    margin-left: 20px;
    font-weight: lighter;
    font-size: 12px;
}

div.chat_comment_content {
    color: #005;
    font-family: 'Noto Sans JP', Slack-Lato, appleLogo, sans-serif;
    font-size: 15px;
}

@media (prefers-color-scheme: dark) {
    div.chat_comment_content {
        color: #ccc;
    }

}

div.chat_comment {
    margin-left: 50px;
}