/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400&subset=japanese'); */

/* https://www.schemecolor.com/drab-army.php */
@media (prefers-color-scheme: dark) {
    body {
        background: #191714;
        color: #ccc;
    }
}

div#footer_wrapper {
    height: 60px;
    padding: 10px 0px 0px 0px;
    background: white;
    position: fixed;
    bottom: 0px;
    margin: 0px 0px 0px -10px;
    z-index: 1030;
}

div#footer_wrapper.expanded {
    height: 152px;
}

div#footer {
    margin: 0px;
    padding: 0px;
}

.btn-light {
    border: 1px solid #f3f3f3;
}

#chat-input {
    display: inline-block;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: -10px;
    width: calc(100% - 125px) ! important;
    resize: none;
}

@media (prefers-color-scheme: dark) {
    div#footer_wrapper {
        background: #191714;
    }

    #chat-input {
        background: #222;
        color: #ccc;
    }
}

#submit-btn {
    margin-top: -3px;
}

div#footer button {
    margin-left: 10px;
}

#menu-left-wrapper {
    background: #656867;
    box-shadow: #333 3px 3px 7px;
    position: fixed;
    bottom: 5px;
    top: 0px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 2000;
}

@media (prefers-color-scheme: dark) {
    #menu-left-wrapper {
        background: #191714;
        box-shadow: #181613 3px 3px 7px;
    }

    .btn-light {
        background: black;
        color: white;
    }

    .btn-light:hover {
        background: #222;
        color: white;
    }
}

#chat-outer {
    top: 0px;
    bottom: 10px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media screen and (max-width:767px) {
    #chat-outer {
        padding: 0px;
    }
}


#chat-container {
    position: relative;
    height: calc(100% - 300px);
}

#chat-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#toppane-subject {
    display: inline-block;
    width: calc(100% - 360px);
    vertical-align: middle;
    padding: 0px 0px 0px 10px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: linear 0.2s;
}

#toppane-subject.hidden {
    color: rgba(0, 0, 0, 0);
    transition: linear 0.2s;
}


.current-room {
    font-weight: bold;
}

ul.menu-list {
    padding-left: 0px;
    font-size: 13px;
}

ul.menu-list li {
    list-style-type: none;
}

.person-panel {
    height: 100px;
    width: 200px;
    margin: 10px;
    float: left;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.person-panel.active {
    border: 2px solid #000;
    background: #55f;
}


.person-panel .name {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 5px 0px 10px;
    font-size: 16px;
    display: inline-block;
}

#username-top {
    font-size: 14px;
    font-weight: bold;
}

#room-memberlist {
    min-height: 100px;
}

#newroom-button {
    cursor: pointer;

}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: red ! important;
}

.chatlist-name {
    margin-top: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;

    /* line-height: 10px; */
}

.chatlist-name.current {
    font-weight: bold;
}

.chatlist-members {
    font-size: 11px;
    margin-top: 0px;

    /* line-height: 10px; */
}

.chatlist-member {
    cursor: pointer;

}

#edit-roomname {
    font-size: 14px;
}

#path {
    display: none;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace
}

.userpage-room-entry {
    height: 70px;
    border-radius: 5px;
    background: #eee;
    margin: 10px;
    padding: 10px;
    white-space: nowrap;
}

.userpage-room-name {
    margin-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}



h1 {
    font-size: 21px;
}

h2 {
    font-size: 20px;
}

hr {
    margin: 0px;
}

.userpage-room-entry h3 {
    font-size: 16px;
    font-weight: bold;
}

.userpage-room-entry .session_id {
    font-size: 12px;
    float: right;
}

#top-pane {
    z-index: 100;
    position: fixed;
    height: 150px;
    padding: 5px 0px 0px 0px;
    background: #756683;
    box-shadow: #656867 3px 3px 6px;
    margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
    #top-pane {
        background: #212B21;
        box-shadow: #202619 3px 3px 6px;
    }

    hr {
        background: #777;
    }
}

#top-pane.shrunk {
    height: 40px;
}

#top-pane-expand-button {
    width: 30px;
}

#top-pane-list-container {
    height: calc(100% - 30px);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.top-page-menu-label {
    font-size: 14px;
    font-weight: bold;
}

#top-pane .btn-sm {
    margin-left: 10px;
}

#top-pane .btn.active {
    font-weight: bold ! important;
}

// https://stackoverflow.com/questions/118241/calculate-text-width-with-javascript
#measure-width {
    position: absolute;
    display: block;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
    /* Thanks to Herb Caudill comment */
}

.chat_entry_event {
    text-align: center;
}

#logout-button {
    float: right;
}

.profile-img {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.profile-img img {
    max-width: 100%;
    max-height: 100%;
}

.profile-img.dragover {
    background: #cce;
    border: 3px solid black;
}

.poster-tab-button {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 2px;
    border-radius: 0px;
}

.poster-tab-button.active {
    font-weight: bold;
}

.poster-tab-button-add {
    text-align: center;
    font-weight: bold;
}

#poster-div {
    margin-bottom: 20px;
}

.file-image-chat img {
    max-width: 100%;
    max-height: 200px;
}

.file-image-chat {
    border: 1px solid red;
    padding: 10px;
    width: 500px;
    margin: 5px;
}

.person-panel .email {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em;
    /* a */
    max-height: 1em;
    /* a x number of line to show (ex : 2 line)  */
}

#chat-input.dragover {
    background: #cce;
    border: 3px solid black;
}

#lefttop-myself-name {
    font-size: 16px;
}

a {
    color: inherit;
}

.ws-list-item {
    float: left;
    margin: 10px;
    width: 200px;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
}


.userlist-person {
    float: left;
    margin: 10px;
    width: 300px;
    height: 110px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
}

.userlist-info {
    float: left;
    width: 170px;
    height: 100%;
    word-break: break-all;
}

.userlist-email {
    font-size: 12px;
}

#btn-userlist {
    margin: 5px 0px;
}

.userlist-img-div {
    height: 100%;
    width: 100px;
    float: right;
    border: #ccc 1px solid;
}

.userlist-img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

#btn-sessionlist {
    margin-left: 5px;
}

#topright-buttons {
    float: right;
    margin: 5px 10px 0px 0px;
}

#topright-buttons button {
    height: 25px;
    width: 25px;
    padding: 0px;
}

.delete-poster {
    float: right;
}

.droppable {
    background: #eee;
}

textarea[disabled] {
    background: #ccc;
}

#delete-room {
    margin-left: 10px;
    font-size: 14px;
    color: red;
}

.searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#smallmenu {
    width: 100%;
    background: #756683;
}

.smallmenu-item {
    margin-left: 10px;
}

.smallmenu-item.right {
    float: right;
}

#chat-participants {
    font-size: 15px;
}

#chat-participants ul {
    list-style-type: disc;
    padding: 0px;
    margin-bottom: 2px;
}

#chat-participants li {
    display: inline-block;
    margin-left: 5px;
    padding: 0px 10px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#chat-participants li:hover {
    background: #eef;
}

.online-mark {
    color: #65B343;
    font-size: 10px;
    margin-left: 5px;
}

.material-icons {
    margin-left: -5px;
}

.smaller-font-btn {
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bigger-font-btn {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#config-button {
    float: right;
    margin-right: 10px;
}

.fingerprint {
    font-family: 'Courier New', Courier, monospace;
    word-break: break-all;
}

.fingerprint.red {
    color: red;
    font-weight: bold;
}

.setting-group {
    border: 1px solid #888;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}

.setting-group h3 {
    font-size: 18px;
}

.setting-group h2 {
    margin: -5px 0px 0px -5px;
    font-weight: bold;
    color: #444;
}

.hidden-animate {
    opacity: 0;
    transition: opacity linear 0.2s;
}

.right-vline {
    border-right: 1px solid #ccc;
}

.link {
    text-decoration: underline #777;
}

span.config-name {
    display: inline-block;
    width: 150px;
}

.config-value {
    display: inline-block;
    width: 250px;
}

.monospace {
    font-family: 'Courier New', Courier, monospace
}

.config-row {
    margin-bottom: 3px;
}

.SDGs-icon {
    display: inline-block;
    margin: 3px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px rgba(0, 0, 0, 0) solid;
    padding: 0px;
}

.SDGs-icon.selected {
    border: 2px blue solid;
}

.SDGs-icon img {
    width: 96px;
    z-index: -100;
    opacity: 0.4;
}

.SDGs-icon.selected img {
    opacity: 1;
}

.table-user-icon {
    height: 30px;
}

#userlist-table {
    font-size: 14px ! important;
}

#userlist-table tr {
    max-height: 80px;
}

#userlist-table .fingerprint div {
    overflow: hidden;
    max-height: 60px;
    text-overflow: ellipsis;
}


.userlist-SDGs img {
    height: 40px;
}

.userlist-SDGs img.hidden {
    opacity: 0.1;
    height: 40px;
}

#video-div {
    /* border: 1px solid black; */
}

#video-div video {
    /* border: 1px solid black; */
    width: 300px;
    height: 200px;
    margin: 0px 5px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
    position: -webkit-sticky;
    background: #ccc;
}

.video-div-cell {
    float: left;
}

.video-username {
    font-size: 13px;
    margin: 0px;
}

.ws-panel-member {
    font-size: 12px;
}

.ws-list-center {
    display: flex;
    text-align: center;
}

.panel-center {
    text-align: center;
    font-size: 40px;
}

#room-title {
    margin-bottom: -4px;
}

div.chat_user_name {
    font-weight: bold;
    font-size: 14px;
}


#chat-entries {
    overflow: auto;
}

div.chat_entry_comment {
    /* border: 1px solid blue; */
    padding: 5px;
    margin: 0px 5px;
}

div.chat_entry_comment.shrunk {
    max-height: 150px;
    overflow-y: hidden;
    position: relative;

}

div.chat_entry_comment.shrunk:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1));
    width: 100%;
    height: 2em;
}

div.chat_entry_comment:hover {
    background: #f8f8f8;
}

@media (prefers-color-scheme: dark) {

    div.chat_entry_comment:hover {
        background: #192017;
    }
}

.remove-item {
    font-size: 20px;
    margin-right: 10px;
    float: right;
}

div.chat_entry_comment:not(:hover) .remove-item {
    visibility: hidden;
}

div.chat_user_icon {
    float: left;
}

img.chat_user_icon {
    width: 40px;
    height: 40px;
}

@media screen and (max-width:767px) {
    img.chat_user_icon {
        width: 30px;
        height: 30px;
    }
}

.chat_timestamp {
    margin-left: 20px;
    font-weight: lighter;
    font-size: 12px;
}

div.chat_comment_content {
    color: #005;
    font-family: 'Noto Sans JP', Slack-Lato, appleLogo, sans-serif;
    font-size: 13px;
    max-width: 100%;
    word-break: break-all;
}

@media screen and (max-width:767px) {
    div.chat_comment_content {
        // margin-top: 5px;
        margin-left: -40px;
    }
}

div.chat_comment_content.font-1 {
    font-size: 8px;

}

div.chat_comment_content.font-2 {
    font-size: 11px;

}

div.chat_comment_content.font-3 {
    font-size: 13px;
}

div.chat_comment_content.font-4 {
    font-size: 15px;
}

div.chat_comment_content.font-5 {
    font-size: 18px;
}

@media (prefers-color-scheme: dark) {
    div.chat_comment_content {
        color: #ccc;
    }

}

#chat-body {
    margin-top: 50px;
    margin-bottom: 60px;
}

#chat-body.input_expanded {
    margin-bottom: 160px;
}

#chat-body.toppane_expanded {
    margin-top: 160px;
}

div.chat_comment {
    // margin-left: 50px;
}

#chatroom_body {
    // padding: 0px;
}

body {
    height: auto !important;
    width: auto !important;
}

@media screen and (max-width:767px) {
    div.chat_comment {
        margin-left: 40px;
        width: 100%
    }
}

#end-line {
    font-size: 12px;
    text-align: center;
}

.clear {
    clear: both;
}