<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>パスワードのリセット</title>
    <style>
        .name,
        label {
            display: inline-block;
            width: 200px;
            text-align: right;
            margin-right: 10px;
        }

        .bold {
            font-weight: bold;
        }

        body {
            font-size: 21px;
        }

        input {
            width: 300px;
            max-width: 100%;
            margin: 5px 0px 0px 0px;
        }

        #submit {
            margin-left: 220px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-sm-12 col-xs-12">
                <h1>パスワードのリセット</h1>
                <form onsubmit='return false;'>

                    <div> <span class='name'>ユーザー名:</span><span class='bold'><%= user.username %></span></div>
                    <div> <span class='name'>Email:</span><span class='bold'><%= user.emails[0] %></span></div>
                    <label for="password">新しいパスワード</label>
                    <input id='password' type="password" placeholder='新しいパスワード' required><br>
                    <label for="password-confirm">確認</label>
                    <input id='password-confirm' type="password" placeholder='新しいパスワード（確認）' required><br>
                    <button id='submit' class='btn btn-primary'>設定</button>
                    <div id='info'></div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        const submit_password_reset = () => {
            const password = $('#password').val();
            const password2 = $('#password-confirm').val();
            console.log(password, password2);
            if (password != password2) {
                $('#info').text('確認用のパスワードが一致しません。');
            } else {
                const token = '<%= token %>';
                $.post('/api/reset_password', { token, password }).done((res) => {
                    if (res.ok) {
                        $('#info').html('パスワードが変更されました。<br><a href="/login">ログイン画面へ</a>');
                    } else {
                        console.log(res);
                        if (res.error == 'Breached password') {
                            $('#info').html('漏洩したことのあるパスワードは利用できません。<br><a href="https://haveibeenpwned.com/Passwords">Pwned Passwords</a> <a href="https://ascii.jp/elem/000/001/867/1867166/">説明</a>');
                        } else {
                            $('#info').text('エラーが発生しました。しばらく後でやり直してください。');
                        }
                    }
                })
            }
        };
        $(() => {
            $('#submit').click(() => {
                submit_password_reset();
            });
        });
    </script>


</body>

</html>