/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400&subset=japanese'); */

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
}

.container {}

div#footer_wrapper {
    height: 60px;
    padding-top: 10px;
    background: white;
}

div#footer {
    margin-left: 40px;
}

@media (prefers-color-scheme: dark) {
    div#footer_wrapper {
        background: black;
    }

    div#footer input {
        background: #222;
        color: #ccc;
    }
}

#menu-left {
    // position: fixed;
    // top: 10px;
    // left: 10px;
    // width: 120px;
    // height: 100%;    background: rgb(140, 142, 196);
}

#chat-wrapper {
    position: fixed;
    overflow: auto;
}

#menu-left ul {
    cursor: pointer;

}

.current-room {
    font-weight: bold;
}

ul.menu-list {
    padding-left: 0px;
}

ul.menu-list li {
    list-style-type: none;
}

.person-panel {
    height: 100px;
    width: 200px;
    margin: 10px;
    float: left;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.person-panel.active {
    border: 2px solid #000;
    background: #55f;
}

.person-panel .name {
    margin: 10px;
    font-size: 20px;
    display: inline-block;
}

#username-top {
    font-size: 14px;
    font-weight: bold;
}

#room-memberlist {
    min-height: 100px;
}

#newroom-button {
    cursor: pointer;

}

.clickable {
    cursor: pointer;
}

.chatlist-name {
    margin-bottom: 0px;
    line-height: 10px;
}

.chatlist-members {
    font-size: 12px;
    margin-top: 0px;
    line-height: 10px;
}

#edit-roomname {
    font-size: 14px;
}